#wrap{
    margin: 0 auto;
}

.inner{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

header{
    position: relative;
    width: 1200px;
    height: 70px;
    background-color: #444C61;
    
}

header .logo{
    font-size: 40px;
    color: #F5E4EA;
    padding-left: 30px;
}

nav{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
}

nav>ul{
    display: flex;
    
}

nav>ul>li{
    list-style: none;
}

nav>ul>li>a{
    display: block;
    width: 120px;
    text-align: center;
    padding: 5px;
    color: #F5E4EA;
    text-decoration: none;
    font-size: 20px;
}

nav>ul>li:hover>a{
    font-weight: lighter;
}

nav>ul>li>ul>li:hover>a{
    background-color: #F5E4EA;
    color:#444C61
}

.sub{
    display: none;  
    padding: 0;
}

.sub>li{
    list-style: none;
}

.sub li a{
    display: block;
    background-color: black;
    color: #F5E4EA;
    text-decoration: none;
    opacity: 70%;
    text-align: center;
    padding: 5px;
    font-size: 16px;
}


.contents .slide{
    position: relative;
    height: 350px;
}

.slide ul{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.slide ul li{
    list-style: none;
    width: 1200px;
    height: 350px;
}

.slide ul li.s1{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/week4/main/src/img/main1.jpeg);
}

.slide ul li.s2{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/week4/main/src/img/main2.jpeg);
}

.slide ul li.s3{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/week4/main/src/img/main3.jpeg);
}

.contents .con{
    height: 280px;
    background-color: blue;
    display: flex;
}

.contents .con article{
    width: 400px;
    height: 100%;
}

.contents .con article.con1{
    background-color:#F5E4EA;
}

.con1 .tabmenu{
    margin: 0;
    padding: 0;
    font-weight: bold;
}


.con1 .tabmenu li{
    width: 150px;
    display: inline-block;
    background-color: #F5E4EA;
}

.con1 .tabmenu li.on{
   background-color: #444C61;
}

.con1 .tabmenu li.on a{
    color: #F5E4EA;
 }

.con1 .tabmenu li a{
    color: #444C61;
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
}

.con .notice_tabcon{
    height: 230px;
    background-color:#F5E4EA;
}


.notice_tabcon th{
    padding: 5px;
    text-align: left;
    color: #444C61;
    font-weight: normal;
}

.notice_tabcon td{
    color: #444C61;
}

.notice_tabcon tr{
    color: #444C61;
}

.notice_tabcon a{
    text-decoration: none;
    color: #444C61;
    display: block;
    padding: 4px;
}

.con .gall_tab{
    width: 400px;
    height: 280px;
    display: none;
}

.gall_tab ul{
    padding: 0;
    display: flex;
    text-align: center;
}

.gall_tab ul li{
    padding: 5px;
}



.contents .con article.con2{
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    line-height: 280px;
    background-position: center;
    background-image: url(/week4/main/src/img/section2.jpg);
}

.contents .con article.con3{
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    line-height: 280px;
    background-position: center;
    background-image: url(/week4/main/src/img/section3.jpg);
}

footer{
    height: 100px;
    background-color: #444C61;
    display: flex;
    justify-content: flex-start;
    gap: 300px;
    align-items: center;
}

footer>.logo{
    font-size: 40px;
    color: #9D9D9D;
    padding-left: 30px;
}

footer>.text{
    font-size: 16px;
    color: #9D9D9D;
}

.popup{
    width: 500px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
    display: none;
}

.popup_header{
    padding: 10px;
    line-height: 50px;
    width: 480px;
    height: 60px;   
    background-color: #444C61;
    color: #F5E4EA;
    font-size: 20px;
    font-weight: bold;
}

.popup_content{
    padding: 10px;
    width: 480px;
    height: 250px;
    background-color: #F5E4EA;
    color: #444C61;
    position: relative;
}

.popup_btn{
    width: 100px;
    height: 50px;
    background-color: #444C61;
    border-radius: 10%;
    text-align: center;
    line-height: 50px;
    position: absolute;
    left: 380px;
    top: 280px;
}

.popup_btn a{
    text-decoration: none;
    color: #F5E4EA;
    font-size: 18px;
    font-weight: bold;
}