@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  background-color: #353535;
}

#Main1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 46px;
  
  text{
    font-size: 37px;
    font-weight: bold;
    color: #BEBFD1;
    font-family: "Inter", sans-serif;
  }

  .play{
    display: flex;
    justify-content: center;
    width: 168px;
    height: 90px;
    background-color: #2751A3;
    border-radius: 14px;

    p{
      display: flex;
      justify-content: center;
      
      font-size: 27px;
      font-weight: bold;
      font-family: "Inter", sans-serif;
      color: #fff;
    }

  }

  a{
    text-decoration: none;
  } 

}

#Main2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1{
    font-size: 30px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: #BEBFD1;
  }

  .container1{
    .title{
      display: flex;
      justify-content: center;
      font-size: 20px;
      font-weight: bold;
      font-family: "Inter", sans-serif; 
      color: #fff;
    }

    .score_text{
      margin-top: 35px;
      display: flex;
      gap: 328px;
    }

    .score_text>div{
      font-size: 14px;
      font-weight: bold;
      font-family: "Inter", sans-serif; 
      color: #fff;
    }
  }

  .container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    
    .game_result{
      margin-top: 12px;
      margin-bottom: 154px;
      font-size: 40px;
      font-weight: bold;
      font-family: "Inter", sans-serif; 
      color: #6881D8;
    }

    .game_img{
      margin-top: 12px;
      position: absolute;
      display: flex;
      justify-content: center;
      gap: 145px;
    }

    p{
      font-size: 14px;
      color: #827D7D;
      font-family: "Inter", sans-serif; 
      margin: 0;
    }
  }

  .container3{
    margin-top: 42px;
    display: flex;
    gap: 48px;

    button{
      display: flex;
      justify-content: center;
      align-items: center;

      width: 170px;
      height: 60px;
      border-radius: 14px;
      background-color: #2751A3;
      border: none;
      color: #fff;
      font-size: 25px;
      font-weight: bold;
      font-family: "Inter", sans-serif; 
    }
  }
}