.Todo_wrap{
    width: 1980px;
    height: 1080px;
    background-color: #92CAFF;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
              

.title{
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    padding-top: 50px;
}

.input{
    width: 600px;
    height: 70px;
    background-color: #fff;
    margin-top: 17px;
    display: flex;  
    justify-content: space-around;  
    gap: 230px;

    input{
        border: none;
        outline: none;
        font-size: 18px;
    }
   
    
    ::placeholder{
        font-size: 18px;
        color: #A3A3A3;
    }

    .btn{
        border: none;
        background: none;
    }
}

.main{
    width: 600px;
    height: 340px;
    background-color: #fff;
    margin-top: 42px;

    .list{
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between; 
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;


        .btn{
            border: none;
            background: none;
        }


        
    }

    .content{
        display: flex;
        justify-content: center;

        p{
            color: #3F6181;
            font-size: 18px;
        }

      
    }

    .line{
        border-bottom: 1px solid;
        color: #92CAFF;
        width: 520px;
        margin-left: 40px;
    }
    
}



